
.container {
    border: 2px ridge #d3d3d3;
    border-radius: 10px;
    padding: 0px 20px;
    width: 42%;
    margin-top: 40px;
    height:4.3cm;
    margin-right: 50px;
    float: right;
    
}

.container .prices {
    
    margin-top: 0%;
    padding-top: 0% ;
    font-weight:900;
    /* float: right; */
    /* font-weight: bold;
    margin-bottom: 0em;
    line-height: 0; */
    /* padding-bottom: 5px; */
    /* display: inline-block; */
}

.block1 {
    min-width: 1000px;
    position: relative;
    width: 50%;
    padding-top: 0%;
    margin: auto;
}

#image1 {
    float: left;
    margin-left: 25px;
    height: 250px;
}

.form-left {
    margin: auto;
    width: 70%;
    clear: both;
    background: linear-gradient(to right, 
	                              transparent 0%, 
	                              transparent calc(50% - 0.81px), 
	                              rgb(139, 137, 137) calc(50% - 0.8px), 
	                              rgb(175, 172, 172) calc(50% + 0.8px), 
	                              transparent calc(50% + 0.81px), 
	                              transparent 100%); 
}

#step1 {
    float: left;
    margin-bottom: 0%;
    margin-top: 0%;
}

#enterBilling {
    float: left;
    clear: both;
    margin-top: 0%;
}

#form-left {
    clear: both;
    text-align: left;

}

input {
    border-radius: 5px;
    background-color:#f2f2f2 ;
    box-sizing: border-box;
    padding: 6px 5px;
    border-color: #c9c9c9;
}

label {
    font-weight: 600 ;
}

.form1 {
    /* display: flex; */
}

.form-right {
    /* display: inline-block; */
    /* width: 45%; */
    text-align: center;
    margin: auto;
    margin-top: 50%;
}

.header-top {
    /* position: flex; */
    min-width: 1000px;
    /* position: relative; */
    text-align: left;
    height: 30px;
    padding-top: 15px;
    color: white;
    font-weight: 700;
    background-color: #00a89c;
    /* text-align: left; */
    padding-left: 200px;
    border-bottom: #9d9ea1 solid;
    border-width: 4px;
    /* white-space: nowrap; */
}

.sheild {
    float: left;
}

.header-bottom {
    /* background-color: #babfc6; */
    /* position: relative; */
    min-width: 1000px;
    height: 30px;
    background-image: linear-gradient(to right, #aab1b9, #fefefe);
    text-align: left;
}

.sponsore {
    margin-top: 35px;
}

#sponsore {
    margin-right: 10px;
}

.header-bottom span {
    font-weight: 700;
    font-size: small;
}

.head1 {
    font-weight: 800;
    font-size:250%;
    min-width: 1000px;
}

.block1 .container span {
    font-weight: 100;
    color: black;
    /* display: inline-block; */
}

#tick-mark {
    position: relative;
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-right: 10px;
}

#tick-mark::before {
    position: absolute;
    left: 0;
    top: 50%;
    height: 50%;
    width: 3px;
    background-color: #00a296;
    content: "";
    transform: translateX(10px) rotate(-45deg);
    transform-origin: left bottom;
}

#tick-mark::after {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 100%;
    background-color: #00a296;
    content: "";
    transform: translateX(10px) rotate(-45deg);
    transform-origin: left bottom;
}

#questions {
    margin-left: 65px;
    font-weight: 1000;
}

.number {
    font-weight: 700;
    margin-left: 5px;
}

.save-money-container {
    /* background-color: black; */
    /* width: 60%; */
    /* display: flex; */
    /* position: relative; */
    /* border: 2px ridge #d3d3d3; */
    /* border-radius: 10px; */
    /* border-width: 50%; */
    /* height: 300px; */
    position: relative;
    /* top: 250px; */
    /* padding: 0px; */
    margin: auto;
    
}

.threeBoxesImage {
    display: inline-block;
    float: right;
    
}

.inline-text {
    display: inline-block;
    position: relative;
    margin-top: 10px;
}

.footer {
    height: 450px;
    min-width: 1000px;
}

.footer-head {
    /* text-align: center; */
    height: 75px;
    background-color: #333333;
    font-weight: 700;
}

.footer-head .three {
    font-size: 45px;
    color: #cda349;
}

.reasons {
    color: white;
    margin-left: 5px;
    font-size: 22px;
    margin-bottom: 25px;
}

.is {
    color: white;
    font-size: 22px;
}

.safe {
    color: #cda349;
    font-size: 22px;
}

.footer-foot {
    display: table;
    width: 100%;
    height: 100%;
    table-layout: fixed;
    background-color: #f2f2f2;
    font-weight: 500;
    font-size: 15px;
}

.risk-free {
    display: table-cell;
}

.protected {
    display: table-cell;
}

.secure {
    display: table-cell;
}

.first-line {
    font-weight: 800;
    font-size: 20px;
}

.process-order {
    height: 160px;
    position: relative;
    padding: 10px;
}

.text-block {
    
    display: inline-block;
    margin-right: 250px;
    height: 80px;
    background-color: #f8be1e ;
    width: 220px;
    font-weight: 900;
    font-size: 20px;
    border-radius: 10px;
    border: solid #f1a919 ;
    border-width: 3px;
    z-index: 10;
}

.text-block p {
    background: -webkit-linear-gradient(#075ba5, #1b1463);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: left;
    /* margin-left: 25px; */
    margin: 10px 35px;
    font-size: 22px;
    font-style: italic;
  }

  .star-image {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block; 
      
  }

  .step4 {
      height: 360px;
      position: relative;
      min-width: 1000px;
    }

    .step4 h5  {
        margin: 25px 0 -25px 0;
    }

    .step4-box {
        height: 250px;
        margin: auto;
        width: 40%;
        border: 2px solid #d3d3d3;
        border-radius: 10px;
        top: 50%;
    }

    .top-row {
        height: 55px;
        border-bottom: 2px solid #d3d3d3;
        text-align: left;
        background: #f2f2f2;
        font-size: 15px;
    }

    .pay-with {
        display: inline-block;
        position: relative;
        margin: 17px 2px 8px 10px;
    }

    .paypal {
        position: absolute;
        display: inline-block;
        margin: 10px 25px 2px 15px;
    }

    .second-row {
        height: 55px;
        border-bottom: 2px solid #d3d3d3;
        text-align: left;
        background: #f2f2f2;
        font-size: 15px;
    }

    .pay-with2 {
        position: relative;
        display: inline-block;
        margin: 17px 20px 8px 10px; 
    }

    .cards-images {
        position: absolute;
        display: inline-block;
        margin: 13px 10px 5px 15px;
    }

    .card {
        position: relative;
        display: inline-block;
        margin-left: 15px;
    }

    .last-row {
        font-size: small;
        display: -webkit-flex;
        margin: 25px;
    }

    .last-row #input {
        display: block;
    }